<!-- <p>nosotros works!</p> -->

<!-- nosotros component -->
<div class="grid grid-cols-2">
    <div class="w-full p-5 m-auto">
        <a [routerLink]="['mision']">
            <div class="rounded-full p-5 border-4 flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/6507/6507550.png" width="50" alt="">
                <h2 class="mx-10">MISION:</h2>
            </div>
        </a>
    </div>
    <div class="w-full p-5 m-auto">
        <a [routerLink]="['vision']">
            <div class="rounded-full p-5 border-4 flex items-center">
                <img src="https://cdn-icons-png.flaticon.com/512/6507/6507550.png" width="50" alt="">
                <h2 class="mx-10">VISION:</h2>
            </div>
        </a>
    </div>
    
</div>
<!-- ruta hija -->
<div>
    <router-outlet></router-outlet>
</div>
