<!-- <p>contacto works!</p> -->

<div>
    <form action="">
        <div class="m-4">
            <input class="border-2 border-slate-400 w-full px-3 py-2 " type="text" placeholder="Nombre">
        </div>
        <div class="m-4">
            <input class="border-2 border-slate-400 w-full px-3 py-2 " type="text" placeholder="Correo Electronico">
        </div>
        <div class="m-4">
            <input class="border-2 border-slate-400 w-full px-3 py-2 " type="text" placeholder="Telefono">
        </div>
        <div class="m-4">
            <input class="border-2 border-slate-400 w-full px-3 py-2 " type="text" placeholder="Sujeto">
        </div>
        <div class="m-4">
            <textarea class="border-2 border-slate-400 w-full px-3 py-2 " type="text" placeholder="Mensaje"></textarea>
        </div>
        <div class="text-center">
            <button class="bg-blue-400 text-white py-3 px-5 rounded-lg">ENVIAR</button>
        </div>
    </form>
</div>
